html,
body {
  display: flex;
  align-items: stretch;
  align-content: stretch;
  width: 100%;
  height: 70%;
  margin:0;
  padding:0;
  background: #fff;
}
#canvas {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;

}
.root{
  width: 100%;
  margin: 0 auto;
}
#anim{
    margin-top:15vh;
    display: block;
    z-index: 1;
    height: 100%; 
    width: 100%;
    background-color: rgba(254, 254, 254, 0);
}
#main{
  position: absolute;
  z-index: 100;
  background:none;
}
.ctitle{
 
  font-family: 'Poppins', sans-serif;
  padding: 5px;
  background-color:rgb(3, 163, 231);
  text-align: center;
}
.inhalt{
 
  padding: 5px;
  
  font-family: 'serif', sans-serif;
}
#foot{
  margin-top: 20vh;
  color: white;
  padding: 10px;
  width: 100%;
  background-color:rgb(3, 163, 231);
}
.task{
  display: grid;
  padding: 10px;
  grid-template-columns: auto auto;
  box-shadow: 10px 10px 50px gray;border-radius: 2px;
}

.task:hover{
  background-color:rgb(3, 163, 231);
  color: white;
}
#con{
  margin-top: 20vh;
  display: grid;
  grid-template-columns: auto auto;
}

#willcom>div{
  width: 80%;
  margin-top: 30vh;
  margin-left:10% ;
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Poppins', sans-serif;
  font-size: large;
}
#logo{

  margin-left: 20px;
  margin-top: 20px;
  width:210px;
  height:70px;
}




/* Mobile devices (up to 767px) */
@media (max-width: 767px) {
  /* Your mobile-specific styles here */
  #logo{
    width: 120px;
    height: 40px;
  }
  #con{

    grid-template-columns: auto;
    column-gap: 10px;
    row-gap: 10px;
    width: 90%;
    margin-left: 5%;
  }

  .inhalt{
    grid-row: 2;
    grid-column: span 2;
  }
  #topdomain{

    font-size: 1rem;
    font-family:'Poppins', sans-serif;
    font-weight: 150;
  }
  #main>#head>h1{
    font-size: 3rem;
    font-weight: 200;
  }
}

/* Tablets and small desktop screens (768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  /* Your tablet-specific styles here */
  #logo{
    width: 120px;
    height: 40px;
  }
  #con{

    grid-template-columns: auto;
    column-gap: 10px;
    row-gap: 10px;
    width: 80%;
    margin-left: 10%;
  }

  .inhalt{
    grid-row: 2;
    grid-column: span 2;
  }
}

/* Standard desktop screens (992px to 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {
  /* Your desktop-specific styles here */
  #con{

    column-gap: 10px;
    row-gap: 10px;
    width: 80%;
    margin-left: 10%;
  }

  .inhalt{
    grid-row: 2;
    grid-column: span 2;
  }

}

/* Larger desktop screens (1200px and above) */
@media (min-width: 1200px) {
  /* Your large desktop-specific styles here */
  #con{

    column-gap: 10px;
    row-gap: 10px;
    width: 90%;
    margin-left: 5%;
  }

  .inhalt{
    grid-row: 2;
    grid-column: span 2;
  }

}


