body,html{
    margin: 0;
    padding: 0;
    min-width: 100%;
    overflow-x: hidden;
    letter-spacing: 0.038em;
    font-family: helvetica,inter;
}
#root{
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.subroot{
    width: 90%;
    margin: 0px;
    margin-left: 5%;
    background-color: white;
    opacity: 0.8;
}
