body,html{
  margin: 0;
  padding: 0;
  min-width: 100%;
  overflow-x: hidden;
  letter-spacing: 0.038em;
  font-family: helvetica,inter;
}
#root{
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.subroot{
  width: 90%;
  margin: 0px;
  margin-left: 5%;
  background-color: white;
  opacity: 0.8;

}
.div2>h1{
  background-color: rgb(21, 126, 175);
  padding: 25px;
  color: white;
  display: inline-block;
}
.div2>#uld0{
  background-color: rgb(241, 241, 241);
  display: inline-block;
  padding: 50px;
}
#uld0>li{
  font-weight: bold;
  padding: 5px;
  color: rgb(21, 126, 175);
  
}
.uld1{
  color: rgb(59, 59, 59);
}
.uld2{
  color: rgb(112, 110, 110);
}

