.divf{
    display: grid;
    grid-template-rows: auto auto;
    

}
.divf0{
    min-height: 1vh;
    background-color: rgb(3, 95, 161);
    margin-top: 4vh;
}
.divf1{
    display: grid;
    grid-template-columns: 40% auto auto auto;
    margin: 70px 20px 5px;
    
   
}
.divf2{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 20px 20px 20px;
    padding-top: 5vh;
    padding-bottom: 5vh;
    border-top: 1px solid rgb(0, 0, 0);
    background-color: rgb(3, 95, 161);
    color: white;

}
.divf1>div{
    min-height: 30vh;
}
.divf2>div{
    text-align: center;
}
.divf12>ul{
    list-style: none;
}
.divf12>table>tr>td>a{
    text-decoration: none;
    font-weight: bold;
}

.divf11{
    opacity: 0.3;
    border-radius: 20px;
}


@media (max-width: 767px) {
    .divf{
        display: grid;
        grid-template-rows: auto auto;
        
    }
    .divf0{
        min-height: 1vh;
        background-color: rgb(3, 95, 161);
        margin-top: 4vh;
    }
    .divf1{
        display: grid;
        grid-template-columns: auto auto auto auto;
        margin: 70px 20px 5px;
        font-size: 10px;
       
    }
    .divf1>div>p>a{
        font-size: 10px;
    }
    .divf11>img{
        width: 70%;
    }

    .divf2{
        margin: 0px;
    }
    .divf2>div{
        font-size: 8px;
        margin: 0px;
    }

}

