.divm{
    width: 100%;
    display: inline-block;
    position: absolute;
    z-index: 10;
    visibility: hidden;
    background-color: white;
    border-bottom: 1px solid rgba(3, 95, 161, 0.155);
}
.divm0{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.divm0>div{
    text-align: center;
    padding-top: 12px;
}
.divm0>div>span{
    font-weight: bold;
    font-size: 50px;
    padding-top: 0px;
    display: inline-block;

}
.divm0>div>span:hover{
    height: 100%;
    color: rgb(3, 95, 161);
    scale: 1;
}

.divm1{
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-row-gap: 1px;

}
.divm1>div{
    background-color: rgb(3, 95, 161);
    text-align: center;
    padding: 20px;
  
    
}
.divm1>div>a{
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
}

@media (max-width: 767px) {

    .subroot{
        width: 98%;
        margin: 0px;
        margin-left: 1%;
        background-color: white;
        opacity: 0.8;
        box-shadow: 5px 5px 20px rgb(235, 233, 233);
    }
    .div0,.div1{
        visibility: hidden;
    }
    .divm{
        visibility: visible;
    }
    .divm1{
        display: block;
        background-color: rgb(3, 95, 161);
        height: 100%;
    }
    .divm04>#mbar{
    
        height: 80%;
    }
    #mbar>span{
        display: block;
    }
    #mclose{
        visibility: hidden;
    }
    
}



.div0{

    display: grid;
    grid-template-rows: auto auto;
    border-bottom: 1px solid rgba(0, 162, 255, 0.144);
}
.div01{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.div01>div{
  
    padding-top: 10px;
    display: grid;
    grid-template-columns: 15% 85%;
    
}
.div011{
    padding-left: 20px;
    
}



.div11{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 2px;
    overflow: hidden;
    width: 40%;
    padding-left: 30%;

}
.div1{
   background-color:rgb(3, 95, 161);
}

.div11>div{
    padding: 10px;
    text-align: center;
}
.div11>div>a{
    text-decoration: none;
    color: rgb(228, 226, 226);
    font-weight: bold;
    display: block;
    line-height: 200%;
}

.div11>div>a:hover{
    color: rgb(255, 255, 255);
    font-weight: bolder;
    transition-duration:200ms;
    transition-property:background-color,color;
    

}

