
body,html{
    margin: 0;
    padding: 0;
    min-width: 100%;
    overflow-x: hidden;
    letter-spacing: 0.038em;
    font-family: system-ui;
    line-height: 1.6;
}
#root{
    padding: 0px;
    margin: 0px;
    width: 100%;
  
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%232971da' fill-opacity='0.4'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");





}

.subroot{
    width: 90%;
    margin: 0px;
    margin-left: 5%;
    background-color: white;
    opacity: 0.8;
    
}





.div2{
    display: grid;
    grid-template-rows: auto auto;
    margin-top: 10vh;
}

.div2>div{
    width: 90%;
    margin: 2vh 5%;
}
#div21{
    display: grid;
    grid-template-rows: auto auto;

}
#div21>div{
    margin-top: 10px;
}
#div211{
   
       background-color: inherit;
      
        
}

#div212{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: rgb(3, 95, 161);
    box-shadow: 5px 5px 20px rgb(139, 139, 139);
    color: white;
    padding: 5px;
    min-height: 20vh;
}
#div212>div{
    text-align: center;
    padding: 5px;
}
#div212>div:hover {
    transition-duration: 200ms;
    background-color: rgba(1, 69, 118, 0.578);
    transition-property: all;
    transform: scale(1.1,1.1);
}
#div212>div>img{
    width: 100px;
}

.div22>div{
    width: 80%;
    display: block;

}


.div5{
    display: grid;
    grid-template-rows: auto auto;
    margin-top: 6vh;
    padding-top: 4vh;
}
.div5>div{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 80%;
    margin-left: 10%;
}
#div512{
    background-color: rgb(3, 95, 161);
    padding: 10px;
    color: white;
}
#div521{
    padding-top: 10vh;
}
#div521>h5{
    background-color: rgb(3, 95, 161);
    color: white;
    padding: 5px;
    border-radius: 2px;
    line-height: 20px;
    display: inline;
}


.div6{
    background-color: rgb(3, 95, 161);
}
.div7{
    background-color:    rgb(3, 95, 161);
    ;
}
.div8{
    background-color: rgb(3, 95, 161);
}
.div9{
    background-color:rgb(3, 95, 161);
}



.div10{
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: auto auto auto;
}
#div101{
    background-color: rgb(248, 248, 248);
    padding: 5px;
    padding-top: 40px;

}
#div1011>a{
    margin-top: 10px;
    position: absolute;
    display: inline-block;
    width: 10%;
    color: white;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.101em;
    font-weight: 700;
}
#div102{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 5px;
   
    padding: 5px 5px;
}
#div102>div{
    background-color: rgb(3, 95, 161);
    height: 30vh;
    border-radius: 5px;
}
#div103{
    background-color: rgb(3, 95, 161);
    text-align: center;
}
@media (max-width: 767px) {

    .subroot{
        width: 98%;
       
        margin:2vh 1%;
        background-color: white;
        opacity: 0.8;
        box-shadow: 5px 0px 50px rgb(187, 186, 186);
    }
    .div0,.div1{
        visibility: hidden;
    }
    .divm{
        visibility: visible;
    }
    .divm1{
        display: block;
        background-color: rgb(3, 95, 161);
        height: 100%;
    }
    .div2>div{
        width: 98%;
        margin: 0px 1%;
        height: 25vh;
        overflow: hidden;
    }
    #div212>div{
        font-size: 8px;
    }
    #div212>div>img{
        width: 50px;
    }
    #div22{
        
        display: inline-block;
        min-height: 50vh;
        width: 94%;
        margin: 3vh 3%;
       
    }
    .div5>div{
        display: inline-block;
        width: 90%;
        height: auto;
        margin: 5%;
        overflow: hidden;
        background-color: rgb(225, 224, 224);
    }
    .div5>div>div{
        padding: 5px;
    }
    #div102>div{
        height: 15vh;
    }

}
/* Tablets and small desktop screens (768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) {}

/* Standard desktop screens (992px to 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {}

/* Larger desktop screens (1200px and above) */
@media (min-width: 1200px) {}